@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background-color: #f5f5f7;
    color: black;
  }

  .dark {
    background-color: #495057;
    color: white;
  }
}

.body {
  height: calc(100dvh - 10.5rem);
}

@media only screen and (min-width: 600px) {
  .body {
    height: calc(100dvh - 10.5rem);
  }
}

@media only screen and (min-width: 1024px) {
  .body {
    height: calc(100dvh - 11rem);
  }
}
